:root {
    --primary-dark: #333;
    /* --primary-grey: lightgray; */
    --background-grey: #ededed;
}

body {
    font-family: Courier New, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
    min-height: 100vh;
    background-color: var(--background-grey);
}

/* Header */ 
.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    margin: 0;
    flex: 1 1;
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    gap: 20px;
    flex: 1 1;
}

.sidebar {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.slide-container {
    width: 100%;
}

.slide {
    appearance: none;
    width: 100%;
}

.grid-container {
    display: grid;
    background-color: white;
    border: 0.1px solid black;
}

.cube {
    transition: all 0.1s ease;
    user-select: none;
}

/* Footer */
.footer {
    display: flex;
    justify-content: center; 
    align-items: center;
    max-height: 8vh;
    background-color: var(--primary-grey);
    gap: 20px;
    margin: 0;
    flex: 1 0;
}

.fa-github {
    color: var(--primary-dark);
    transition: all 0.01s ease;
    font-size: 32px;
}

.fa-github:hover {
    transform: scale(1.2);
}
